@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Poppins&display=swap");

.main {
  text-align: center;
  color: #ffe81f;
  background-color: rgb(26, 25, 25);
  font-family: "Bruno Ace SC", cursive;
  min-height: 100vh;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 auto;
  max-width: 1200px;
}

.starship-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  min-height: 430px;
  cursor: pointer;
  border-radius: 10px 65px 10px 65px;
  margin-bottom: 30px;
  padding: 0;
  transition: all 0.4s ease-in-out;
  box-shadow: 3px 3px 5px 3px rgba(240, 219, 79, 0.8);
  position: relative;
  background-image: url("../../assets/sw-bg2-5.png");
  background-size: 100%;
}

.starship-card:hover {
  box-shadow: 0px 5px 10px 0px rgba(240, 219, 79, 0.8);
  transform: scale(1.07);
}

.starship-card h2 {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Bruno Ace SC", cursive;
  color: rgb(222, 222, 50);
  text-transform: uppercase;
}

.starship-card p {
  text-align: center;
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}
.link p {
  color: beige;
}

.load-more-button {
  box-shadow: 0 2px 5px rgba(248, 240, 7, 0.2);
  border: 1px solid rgb(249, 235, 36);
  background-color: transparent;
  color: #ffe81f;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-bottom: 4em;
  padding: 9px;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.back-to-top-button {
  box-shadow: 0 2px 5px rgba(248, 240, 7, 0.2);
  border: 1px solid rgb(249, 235, 36);
  background-color: transparent;
  color: #ffe81f;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-bottom: 4em;
  padding: 9px;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.img-ship {
  display: grid;
  align-items: center;
  max-height: 250px;
  max-width: 80%;
}

.img-ship img {
  margin-top: 40px;
  margin-left: 40px;
  width: 100%;
  height: 170px;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .img-ship img {
    max-height: 100px;
    max-width: 300px;
  }
  .starship-card {
    width: 80%;
    padding: 20px;
  }
}

.rating {
  border: 1px solid #ffe81f;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 5px;
  width: 100px;
  margin: 50px auto 20px auto;
  border-radius: 5px;
}
