@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Poppins&display=swap");

.main {
  text-align: center;
  color: #ffe81f;
  background-color: rgb(26, 25, 25);
  font-family: "Bruno Ace SC", cursive;
  min-height: 100vh;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 auto;
  max-width: 1200px;
}

.starship-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(25% - 50px);
  min-height: 250px;
  cursor: pointer;
  border-radius: 10px 65px 10px 65px;
  margin-bottom: 10px;
  padding: 0;
  transition: all 0.15s ease-in-out;
  position: relative;
  background-image: url("../../assets/sw-bg2-5.png");
  background-size: 100%;
  border: 2px solid #b8ab37;
}

.starship-card:hover {
  transform: scale(1.1);
}

.starship-card h2 {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Bruno Ace SC", cursive;
  color: rgb(222, 222, 50);
  text-transform: uppercase;
}

.starship-card p {
  text-align: center;
  font-size: 12px;
  font-family: Roboto, sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}
.link p {
  color: beige;
}

.load-more-button {
  border: 1px solid #b8ab37;
  background-color: transparent;
  color: #ffe81f;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin: 30px 0px;
  padding: 9px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.back-to-top-button {
  border: 1px solid #b8ab37;
  background-color: transparent;
  color: #ffe81f;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-bottom: 64px;
  padding: 9px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0px;
}

.img-ship img {
  margin-top: 40px;
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.rating {
  border: 1px solid #b8ab37;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 5px;
  width: 100px;
  margin: 50px auto 20px auto;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .starship-card {
    width: 70%;
    margin: 0px auto;
  }
}
