body {
  background-image: url("../../assets/sw-bg2-5.png");
  background-color: rgb(33, 34, 37);
  background-size: 100%;

  padding: 0;
  margin: 0;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  max-height: 300px;
  margin-bottom: 10em;
}
.intro button {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  color: rgb(248, 244, 8);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(248, 240, 7, 0.2);
  border: 1px solid rgb(249, 235, 36);
  padding: 10px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
