.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 2px solid #ebd15a;
  border-color: #ebd15a;
  padding: 0 10px;
  width: 300px;
  border-radius: 20px;
  background-color: rgb(33, 34, 37);
  margin: 0 auto;
  margin-bottom: 40px;
}

.search-bar input {
  height: 40px;
  color: #d6d6d6;
  border: none;
  background-color: rgb(33, 34, 37);
  border-radius: 20px;
  font-size: 12px;
  width: 100%;
}

.search-bar input:focus {
  outline: none;
}
