.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.logo img {
  max-height: 120px;
  max-width: 100%;
}

.navbar {
  align-items: center;
  justify-content: center;
  background-color: rgb(33, 34, 37);
  border-bottom: 2px solid #b8ab37;
  height: 120px;
  width: 100%;
}
