.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
