.starship-detail {
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  border: 2px solid #f0db4f;
  border-radius: 5px;
  background-color: #000000;
  color: #fff;
  text-align: center;
}

.starship-detail h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.starship-detail p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

.starship-detail img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.btn-backStarship {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  color: rgb(248, 244, 8);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(219, 209, 209, 0.2);
  border: 1px solid rgb(248, 244, 8);
  padding: 10px;
  margin-top: 2em;
}
