@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Poppins&display=swap");

.starship-detail {
  max-width: 100%;
  max-height: 100vh;
  box-sizing: border-box;
  color: #ffe81f;
  background-color: rgb(26, 25, 25);
  background-size: 100%;
  overflow: hidden;
}

.detail-card {
  margin: 80px auto;
  max-width: 1200px;
  height: 600px;
  border: 2px solid #f0db4f;
  background-color: transparent;
  border-radius: 30px;
  color: #ffe81f;
  background-image: url("../../assets/sw-bg2-5.png");
  background-size: 100%;
}

.detail-card h2 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffe81f;
  font-family: "Bruno Ace SC", cursive;
  text-align: center;
}
.features {
  position: absolute;
  top: 35%;
  left: 45%;
  font-size: 15px;
  color: #dbdbc7;
  justify-content: center;
}

.model {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 10px;
  color: #e7ea8d;
}

.rating-detail {
  color: burlywood;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-size: x-large;
}

.ships-img img {
  max-height: 250px;
}
.ships-img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 50%;
  padding: 80px 20px 0px 0px;
}
.ships-img:hover {
  transform: scale(1.15);
}

.btn-backStarship {
  position: absolute;
  top: 1px;
  background-color: transparent;
  border: none;
}
.btn-backStarship > img {
  max-height: 30px;
  max-width: 30px;
  border: 1px solid yellow;
  border-radius: 20px;
  padding: 8px;
}
.btn-backStarship > img:hover {
  transform: scale(1.09);
}

@media screen and (max-width: 768px) {
  .starship-detail {
    height: 1000px;
    width: 500px;
    position: absolute;
    display: block;
  }
  .features-title {
    font-size: 10px;
  }
  .features-info {
    display: inline-block;
    font-size: 16px;
  }
  .detail-card img {
    height: 100px;
  }
}
