.error {
  background-image: "../../assets/star-wars-404.jpg";
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.btn-return {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffe81f;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
  border: 1px solid #ffe81f;
  padding: 10px;
  margin-top: 32px;
}
.btn-return:hover {
  transform: scale(1.05);
}

.error img {
  max-height: 500px;
}

@media screen and (max-width: 768px) {
  .error img {
    max-height: 200px;
    margin-top: 200px;
  }
}
